.backgroundLayer {
    background-image: url(../../../assets/USA500/staaten_hell.png);;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: right;
     
  }

  *{
    color: var(--textcolor);
  }