<div class="max-w-screen-xl py-12 mx-auto" style="background-color: var(--background);">
  <section id="expand" class="gap-x-8 gap-y-4">
    <mat-accordion class="w-full gap-4 flex flex-col">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-lg pl-6">
            Wie funktioniert der Importprozess für webtreedesign-Davidson Motorräder?
          </mat-panel-title>
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-base text-left">
          Der Importprozess für webtreedesign-Davidson Motorräder beginnt mit der
          Auswahl des gewünschten Modells. Danach kümmern wir uns um alle
          erforderlichen Zoll- und Importformalitäten. Unsere erfahrenen
          Fachleute sorgen dafür, dass Ihr Motorrad sicher und legal importiert
          wird. Sie erhalten regelmäßige Updates über den Status des Imports,
          und wir stehen Ihnen während des gesamten Prozesses zur Verfügung.
        </p>

        <!-- <ul class="expansion-list text-sm text-left" style="list-style: inside">
          <li>
            <b>Höhere Haltbarkeit:</b> Glas-Glas-Module sind in der Regel
            langlebiger und widerstandsfähiger gegenüber Umwelteinflüssen wie
            Feuchtigkeit, Temperaturschwankungen und mechanischer Beanspruchung.
            Sie haben eine längere Lebensdauer als herkömmliche Solarmodule.
          </li>
          <li>
            <b>Bessere Stabilität:</b> Die doppelte Glasabdeckung erhöht die
            strukturelle Stabilität der Module, was sie weniger anfällig für
            Risse und Brüche macht.
          </li>
          <li>
            <b>Verbesserte Leistung:</b> Aufgrund der besseren Haltbarkeit
            können Glas-Glas-Module über die Zeit eine konstantere Leistung
            liefern, da sie weniger anfällig für Degradation sind.
          </li>
        </ul> -->
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-lg pl-6">
            Welche Kosten sind mit dem Import einer webtreedesign-Davidson
            verbunden?</mat-panel-title
          >
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-base text-left">
          Die Kosten für den Import einer webtreedesign-Davidson können je nach Land,
          Zollgebühren und anderen variablen Faktoren variieren. Wir bieten
          transparente Preisinformationen und können Ihnen im Voraus eine genaue
          Kostenschätzung geben. In der Regel beinhalten die Gesamtkosten den
          Motorradpreis, Versandkosten, Zollgebühren, Steuern und andere
          eventuelle Gebühren. Wir arbeiten eng mit Ihnen zusammen, um
          sicherzustellen, dass es keine versteckten Kosten gibt.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-lg pl-6">
            Sind die importierten webtreedesign-Davidson Motorräder den lokalen
            Standards entsprechend angepasst?</mat-panel-title
          >
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-base text-left">
          Ja, alle importierten webtreedesign-Davidson Motorräder werden den lokalen
          Standards und Vorschriften entsprechend angepasst. Unsere
          Importprozesse umfassen die notwendigen Anpassungen, um
          sicherzustellen, dass Ihre webtreedesign-Davidson den örtlichen Sicherheits-
          und Emissionsanforderungen entspricht. Sie erhalten ein Motorrad, das
          sowohl sicher als auch legal auf den Straßen Ihres Landes betrieben
          werden kann.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-lg pl-6">
            Welche Garantie- und Kundendienstleistungen bieten Sie für
            importierte webtreedesign-Davidson Motorräder?</mat-panel-title
          >
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-base text-left">
          Wir bieten eine umfassende Garantie und Kundendienstleistungen für
          alle importierten webtreedesign-Davidson Motorräder. Unsere Kunden können
          sich darauf verlassen, dass sie denselben exzellenten Kundenservice
          und die gleichen Garantieleistungen erhalten wie Kunden, die ihre
          Motorräder lokal erworben haben. Wir haben ein engagiertes Team, das
          Ihnen bei Wartung, Reparaturen und allen anderen Anliegen rund um Ihr
          Motorrad zur Verfügung steht.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>
