* {
  color: var(--textcolor);
}

.svg {
  ::ng-deep svg {
    fill: var(--accent) !important;
  }
}

.backgroundLayer {
  background-image: url(../../../assets/USA500/66_hell.png);;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: right;
 
   
}
