<div
  class="max-w-screen-xl py-12 px-6 mx-auto"
  style="background-color: var(--background)"
>
  <section>
    <h2 class="text-right text-4xl font-bold mb-6">NOCH FRAGEN ?</h2>
  </section>

  <section id="expand" class="gap-x-8 gap-y-4">
    <mat-accordion class="w-full gap-6 flex flex-col">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-xl pl-6">
            Was kostet die Bereitstellung und das Hosting einer Website ?
          </mat-panel-title>
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-lg text-left">
          Die Preise einer Website können stark variieren und sind bemessen an
          dem jeweiligen Umfang der Website. Für das Hosting einer Website sind
          Monatliche Tarife von 50 bis 100€ realistisch.
        </p>

        <!-- <ul class="expansion-list text-sm text-left" style="list-style: inside">
          <li>
            <b>Höhere Haltbarkeit:</b> Glas-Glas-Module sind in der Regel
            langlebiger und widerstandsfähiger gegenüber Umwelteinflüssen wie
            Feuchtigkeit, Temperaturschwankungen und mechanischer Beanspruchung.
            Sie haben eine längere Lebensdauer als herkömmliche Solarmodule.
          </li>
          <li>
            <b>Bessere Stabilität:</b> Die doppelte Glasabdeckung erhöht die
            strukturelle Stabilität der Module, was sie weniger anfällig für
            Risse und Brüche macht.
          </li>
          <li>
            <b>Verbesserte Leistung:</b> Aufgrund der besseren Haltbarkeit
            können Glas-Glas-Module über die Zeit eine konstantere Leistung
            liefern, da sie weniger anfällig für Degradation sind.
          </li>
        </ul> -->
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-xl pl-6">
            Benutzerzufriedenheit und Suchmaschinenergebnisse!</mat-panel-title
          >
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-lg text-left">
          Mit guten Suchmaschinenergebnissen und schnellen Ladenzeiten
          überzeugen Sie Ihrer Beuscher. Klar ist aber dass die Website stimmig
          und passend zur Branche aufgebaut sein muss um Ihre Besucher zum
          verweilen anzuregen.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-xl pl-6">
            Wie sind die Gestaltungsmöglichkeiten meiner Website ?
          </mat-panel-title>
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-lg text-left">
          Mit Ihrer Idee entwickeln wir eine kostenlose Demo, die visuell
          beeindruckt und ein Design aufweist, dass neugierig macht.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="flex flex-row">
          <div class="order-last basis-1/12"></div>

          <mat-panel-title class="title-big flex justify-start text-xl pl-6">
            Welche Informationen sind wichtig für die Erstellung Ihre Webpräsenz
            ?
          </mat-panel-title>
          <div
            class="material-symbols-expand mx-auto flex justify-center items-center order-first basis-1/12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              style="fill: var(--accent)"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </div>
        </mat-expansion-panel-header>
        <p class="text-lg text-left">
          Zur Erstellung der Website werden grundlegende Informationen wie
          Farbschema, Text und Bildmaterial sowie die Firmenidentität mit dem
          dazugehörigen Logo benötigt. Um auch rechtlich sicher zu sein sollte
          ebenfalls alle Daten zu Ihrem Unternehmen (Impressum) und dem
          Datenschutz vorliegen.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>
<!-- ## -->
