<div #start class="w-full flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 50%;
        background-image: url('../../../assets/webtree/wald.jpg');
        height: 50vh;
      "
    >
      <div class="flex flex-col h-[50vh] max-w-screen-xl mx-auto">
        <div class="flex justify-end items-center flex-grow">
          <div class="rounded-sm text-right px-6 py-6 md:mr-3">
            <h1
              class="text-5xl font-bold"
              style="color: var(--background) !important"
            >
              Impressum
            </h1>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>

<section class="section mx-auto max-w-screen-xl px-6 py-12">
  <h1>Impressum</h1>

  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>
    Tizian Breuch<br />
    Webdesign<br />
    Grevener Landstra&szlig;e 64<br />
    48268 Greven
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: 01636636894<br />
    E-Mail: info@moebel.de
  </p>

  <h2>Angaben zur Berufs&shy;haftpflicht&shy;versicherung</h2>
  <p>
    <strong>Name und Sitz des Versicherers:</strong><br />
    Allianz Versicherungs-AG<br />
    K&ouml;niginstr. 28<br />
    80802 M&uuml;nchen
  </p>
  <p><strong>Geltungsraum der Versicherung:</strong><br />Deutschland</p>

  <h2>Redaktionell verantwortlich</h2>
  <p>
    Tizian Breuch<br />
    Grevener Landstra&szlig;e 64 <br />
    48268 Greven
  </p>

  <h2>EU-Streitschlichtung</h2>
  <p>
    Die Europ&auml;ische Kommission stellt eine Plattform zur
    Online-Streitbeilegung (OS) bereit:
    <a
      href="https://ec.europa.eu/consumers/odr/"
      target="_blank"
      rel="noopener noreferrer"
      >https://ec.europa.eu/consumers/odr/</a
    >.<br />
    Unsere E-Mail-Adresse finden Sie oben im Impressum.
  </p>

  <h2>
    Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
  </h2>
  <p>
    Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
    einer Verbraucherschlichtungsstelle teilzunehmen.
  </p>
</section>
