.toolbar-ul {
  // white-space: nowrap;
  li {
    a {
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      transition: 0.1s;
      font-weight: 800;
      transition: var(--shortTransition);
    }
    a:hover {
      transform: scale(1.2);
      transition: var(--shortTransition);
    }
  }
}

.router-outlet {
  background-color: var(--background);
}



::ng-deep .ngStyleAfter {
  background-color: var(--toolbar);
  transition: var(--longTransition);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  .toolbar-ul {
    li {
      a {
        transition: var(--shortTransition);
        color: var(--textcolor);
      }
    }
  }
}

::ng-deep .ngStyleBefore {
  background-color: rgba(0, 0, 0, 0);
  transition: var(--longTransition);

  .toolbar-ul {
    li {
      a {
        transition: var(--shortTransition);
        color: var(--background);
      }
    }
  }

  // -webkit-box-shadow: 0px 10px 20px 20px rgba(255, 255, 255, 0.303);
  // -moz-box-shadow: 0px 10px 20px 20px rgba(255, 255, 255, 0.303);
  // box-shadow: 0px 10px 20px 20px rgba(255, 255, 255, 0.303);
}

.oneActive {
  color: var(--accent) !important;
  transition: var(--shortTransition);
}
.twoActive {
  color: var(--accent) !important;
  transition: var(--shortTransition);
}
.threeActive {
  color: var(--accent) !important;
  transition: var(--shortTransition);
}
.fourActive {
  color: var(--accent) !important;
  transition: var(--shortTransition);
}
.fiveActive {
  color: var(--accent) !important;
  transition: var(--shortTransition);
}

::ng-deep mat-snack-bar-container {
  margin: 0px !important;
}

::ng-deep .mdc-snackbar__surface {
  border-radius: 0.5rem 0.5rem 0 0 !important;
  width: 100vw !important;
  max-width: 1280px;
  .mdc-button__label {
    color: var(--textcolor);
  }
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  max-width: 1280px !important;
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: var(--toolbar) !important;
  --mdc-snackbar-supporting-text-color: var(--textcolor) !important;
  --mat-snack-bar-button-color: var(--accent) !important;
}
