// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webtreedesign-primary: mat.define-palette(mat.$indigo-palette);
$webtreedesign-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webtreedesign-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webtreedesign-theme: mat.define-light-theme(
  (
    color: (
      primary: $webtreedesign-primary,
      accent: $webtreedesign-accent,
      warn: $webtreedesign-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($webtreedesign-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Forum", sans-serif;
  // color: var(--textcolor);
  background-color: var(--toolbar);
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@font-face {
  font-family: "Forum";
  src: url("./assets/webtree/Forum-Regular.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --shortTransition: 0.3s;
  --longTransition: 0.6s;

  // --accent: #9AC0D4;
  // --second: #28408b;
  --accent: #236d55;
  --second: #1a4954;

  --accent-X: #236d5590;
  --second-X: #1a495490;

  --background: #f5f3ef;
  --toolbar: #f3f0eb;
  --textcolor: #212121;

  --background-X: #9394964b;

  --fontsize: 20px;
}

::ng-deep {
  --mdc-checkbox-selected-icon-color: #236d55 !important;
  --mdc-checkbox-selected-hover-icon-color: #236d55 !important;
  --mdc-checkbox-selected-focus-icon-color: #236d55 !important;
  --mat-option-selected-state-label-text-color: #236d55 !important;
  --mdc-checkbox-selected-pressed-icon-color: #236d55 !important;
  --mdc-checkbox-selected-focus-state-layer-color: #236d55 !important;
  --mdc-checkbox-selected-hover-state-layer-color: #236d55 !important;
  --mdc-checkbox-selected-pressed-state-layer-color: #236d55 !important;
  --mat-snack-bar-button-color: #236d55 !important;
}
::ng-deep .mat-accent {
  color: var(--accent) !important;
}

// start region scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
  background-color: var(--toolbar);
}

/* Track */
::-webkit-scrollbar-track {
  transition: var(--shortTransition);
  // box-shadow: inset 0 0 5px rgb(255, 255, 255, 0.4);

  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  transition: var(--shortTransition);
  background: var(--accent-X);

  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: var(--shortTransition);
  background: var(--accent);
}
// end region scrollbar

@media (min-width: 1024px) {
  .slicedImages:hover {
    transition: var(--longTransition);
    gap: 0;
    img {
      margin-top: 14.3px;
      margin-bottom: 14.3px;
      transition: var(--longTransition);
    }
    .imgLeft {
      border-top-right-radius: 0px 0px;
      border-bottom-right-radius: 0px 0px;
    }
    .imgRight {
      border-top-left-radius: 0px 0px;
      border-bottom-left-radius: 0px 0px;
    }
  }
}

.slicedImages {
  transition: var(--longTransition);
  img {
    transition: var(--longTransition);
  }
}

html {
  scroll-behavior: smooth;
}
