<div #container>
  <div #section1 id="webtree">
    <app-start></app-start>
  </div>
  <div #section2>
    <div id="ueberuns" class="anchor"></div>
    <app-ueberuns></app-ueberuns>
  </div>
  <div #section3>
    <div id="section3" class="anchor"></div>
    <app-information></app-information>
    <div class="banner"></div>
  </div>
  <div #section4>
    <div id="news" class="anchor"></div>
    <app-news></app-news>
  </div>
  <div #section5>
    <div id="kontakt" class="anchor"></div>
    <app-kontakt></app-kontakt>
    <app-expander></app-expander>
  </div>
</div>
